@import "node_modules/bootstrap/scss/bootstrap";
@import "../fonts/ionicons/scss/ionicons.scss";

$theme-colors: (
	"primary": var(--bs-white),
	"dark": #000000
);

@font-face {
	font-family: 'Graphik';
	src: url(../fonts/Graphik/Graphik-Regular.ttf) format('ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Graphik-Light';
	src: url(../fonts/Graphik/Graphik-Light.ttf) format('ttf');
	font-weight: 100;
}

body {
	background-image: url(/img/banner-image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	--bs-body-color: #fff;
	font-family: 'Graphik-Light', sans-serif !important;
}

main {
	display: flex;
    flex-direction: column;
}

.footer {
	margin-top: 3rem;
}

.navbar-mobile {
	border-bottom: 1px solid var(--bs-gray-100);
	background-color: var(--bs-body-bg);
}

.nav-secondary .navbar-nav .nav-link {
	color: var(--bs-white);
}

#pap-home-hero {

	margin-top: 8rem;
	margin-bottom: 8rem;

	h1 {
		margin-bottom: 2rem;
		font-weight: 100;
	}

	.link-search {
		font-size: 0.7rem;
		vertical-align: middle;
		font-weight: 300;
		color: var(--bs-white);
		text-decoration: none;

		ion-icon {
			margin-right: 8px;
			font-size: 1.5rem;
			line-height: 2rem;
		}
	}
}

#pap-search {

	justify-content: flex-end;
	padding: 2rem;
	text-align: center;
	border-top: 3px solid #63B094;
	background-color: var(--bs-white);

	.btn-search {
		color: var(--bs-white);
		background-color: #63B094;
	}
}
